{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        ;contains fixes for CLJ-2561 + CLJ-2562
        org.clojars.typedclojure-clojars/alpha.spec 
        {:mvn/version "0.2.177-typedclojure-1"}}
 :mvn/repos {"sonatype-oss-public"
             {:url "https://oss.sonatype.org/content/groups/public/"}}
 :aliases {:test
           {:extra-paths ["test"]
            :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                         org.clojure/core.logic {:mvn/version "1.0.0"}
                         org.clojure/math.combinatorics {:mvn/version "0.1.6"
                                                         :exclusions [org.clojure/clojure]}}}
           :nREPL
           {:extra-deps
            {nrepl/nrepl {:mvn/version "0.8.3"}
             cider/cider-nrepl {:mvn/version "0.25.3"}},
            :main-opts ["-m" "nrepl.cmdline"
                        "--interactive"
                        "--middleware" "[\"cider.nrepl/cider-middleware\"]"
                        ]}

           :codox
           {:extra-deps {codox/codox {:mvn/version "0.10.7"}}
            :extra-paths ["script"]
            :main-opts ["-m" "gen-doc"]}

           :runner
           {:extra-deps {io.github.cognitect-labs/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner"
                          :sha "5557e92c932f024127762ec6007d849bec869c8f"}}
            :main-opts ["-m" "cognitect.test-runner"
                        "-d" "test"
                        "-r" ".*"
                        ]}}}
