{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        ;contains fixes for CLJ-2561 + CLJ-2562
        org.clojars.typedclojure-clojars/alpha.spec 
        {:mvn/version "0.2.177-typedclojure-1"}}
 :mvn/repos {"sonatype-oss-public"
             {:url "https://oss.sonatype.org/content/groups/public/"}}
 :aliases {:test
           {:extra-paths ["test"]
            :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}
                         org.clojure/core.logic {:mvn/version "1.0.0"}
                         org.clojure/math.combinatorics {:mvn/version "0.1.4"}}}
           :nREPL
           {:extra-deps
            {nrepl/nrepl {:mvn/version "0.6.0"}
             cider/cider-nrepl {:mvn/version "0.22.4"}},
            :main-opts ["-m" "nrepl.cmdline"
                        "--interactive"
                        "--middleware" "[\"cider.nrepl/cider-middleware\"]"
                        ]}
           :runner
           {:extra-deps {com.cognitect/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner"
                          :sha "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
            :main-opts ["-m" "cognitect.test-runner"
                        "-d" "test"
                        "-r" ".*"
                        ]}}}
