{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/core.memoize {:mvn/version "0.8.2"}
        org.ow2.asm/asm {:mvn/version "5.2"}
        typed.cljc/analyzer {:local/root "../cljc.analyzer"
                             :deps/manifest :deps}}
 :mvn/repos
 {"sonatype-oss-public"
  {:url "https://oss.sonatype.org/content/groups/public/"}},
 :aliases {:nREPL
           {:extra-deps
            {nrepl/nrepl {:mvn/version "0.6.0"}
             cider/piggieback {:mvn/version "0.3.8"}}
            :main-opts ["-m" "nrepl.cmdline"
                        "--interactive"]}
           :perf
           {:extra-paths ["/Applications/YourKit-Java-Profiler-2019.8.app/Contents/Resources/lib/yjp-controller-api-redist.jar"]
            :jvm-opts ["-agentpath:/Applications/YourKit-Java-Profiler-2019.8.app/Contents/Resources/bin/mac/libyjpagent.dylib"]}

           :test
           {:extra-paths ["test"]
            :extra-deps
            {org.clojure/tools.analyzer.jvm {:mvn/version "1.0.0"}
             criterium {:mvn/version "0.4.5"}}}
           :runner
           {:extra-deps {com.cognitect/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner"
                          :sha "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
            :main-opts ["-m" "cognitect.test-runner"
                        "-r" ".*"
                        "-d" "test"]}}}
