{:deps {org.clojure/clojure {:mvn/version "1.12.0"}}
 :aliases {:good-clj-kondo
           {:replace-deps {clj-kondo/clj-kondo 
                           ;; Committed July 24, 2025 11:20 AM - "minor whitespace"
                           ;; Part of v2025.07.26 release (but before the bug)
                           ;; Uses SCI 0.9.44 - requiring-resolve works correctly
                           {:git/url "https://github.com/clj-kondo/clj-kondo"
                            :git/sha "99bb37c4a03c6c036067a5b24a8fe2d937f541e4"}}
            :main-opts ["-m" "clj-kondo.main"]}
           :bad-clj-kondo
           {:replace-deps {clj-kondo/clj-kondo 
                           ;; Committed July 24, 2025 11:37 AM - "Bump SCI"
                           ;; Part of v2025.07.26 release
                           ;; Bumped SCI from 0.9.44 to 0.10.47 - this breaks requiring-resolve
                           ;; Bug: SCI context not initialized for macro hooks
                           ;; Distance from GOOD: 0 commits (adjacent)
                           {:git/url "https://github.com/clj-kondo/clj-kondo"
                            :git/sha "e43c24186bd77c659357f2ed1f862f80077d0f6a"}}
            :main-opts ["-m" "clj-kondo.main"]}}}
