{% do-not-edit-edn-comment %}
{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "{◊clojure-mvn-version◊}"}
        io.github.frenchy64/fully-satisfies {:mvn/version "{◊fully-satisfies-mvn-version◊}"}}
 :aliases {:test
           {:extra-paths ["test"]
            :jvm-opts ["-Dtyped.clojure.preserve-check-ns-after-opt-in=true"]}
           :nREPL
           {:extra-deps
            {nrepl/nrepl {:mvn/version "{◊nrepl-mvn-version◊}"}
             cider/cider-nrepl {:mvn/version "{◊cider-nrepl-mvn-version◊}"}},
            :main-opts ["-m" "nrepl.cmdline"
                        "--interactive"
                        "--middleware" "[\"cider.nrepl/cider-middleware\"]"
                        ]}

           :codox
           {:extra-deps {codox/codox {:mvn/version "{◊codox-mvn-version◊}"}
                         {◊typedclojure-group-id◊}/typed.cljc.analyzer
                         {:local/root "../cljc.analyzer"
                          :deps/manifest :deps}}
            :extra-paths ["script"]
            :main-opts ["-m" "gen-doc"]}

           :runner
           {:extra-deps {{◊cognitect-test-runner-coordinates◊}
                         {:git/url "{◊cognitect-test-runner-git-url◊}"
                          :git/sha "{◊cognitect-test-runner-sha◊}"}}
            :main-opts ["-m" "cognitect.test-runner"
                        "-d" "test"
                        "-r" ".*"
                        ]}}}
