{:paths ["dev/src"
         "dev/resources"
         "script"
         "script-test"
         ;for clojure.core.typed.contract-utils
         "typed/clj.runtime/src"]
 :deps {org.typedclojure/typed.internal-dev {:local/root "dev"},
        selmer/selmer {:mvn/version "1.12.62"},
        org.typedclojure/typed.fnl.runtime {:local/root "typed/fnl.runtime"},
        org.typedclojure/typed.fnl.analyzer {:local/root "typed/fnl.analyzer"},
        org.typedclojure/typed.fnl.reader {:local/root "typed/fnl.reader"},
        org.typedclojure/typed.clj.checker {:local/root "typed/clj.checker"},
        org.typedclojure/typed.clj.analyzer {:local/root "typed/clj.analyzer"},
        org.typedclojure/typed.lib.core.async {:local/root "typed/lib.core.async"},
        org.typedclojure/typed.cljc.analyzer {:local/root "typed/cljc.analyzer"},
        org.typedclojure/typed.malli {:local/root "typed/malli"},
        org.typedclojure/typed.lib.spec.alpha {:local/root "typed/lib.spec.alpha"},
        org.typedclojure/typed.lib.clojure {:local/root "typed/lib.clojure"},
        ;org.typedclojure/typed.cljs.analyzer {:local/root "typed/cljs.analyzer"},
        ;org.typedclojure/typed.cljs.checker {:local/root "typed/cljs.checker"},
        ;org.typedclojure/typed.cljs.runtime {:local/root "typed/cljs.runtime"},
        org.typedclojure/typed.clj.runtime {:local/root "typed/clj.runtime"},
        org.typedclojure/typed.fnl.checker {:local/root "typed/fnl.checker"}}}
