{% do-not-edit-edn-comment %}
{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        selmer/selmer {:mvn/version "1.12.44"}
        hickory/hickory {:mvn/version "0.7.1"}}
 :resource-paths ["resources"]
 :aliases {:nREPL
           {:extra-deps
            {nrepl/nrepl {:mvn/version "{◊nrepl-mvn-version◊}"}
             cider/cider-nrepl {:mvn/version "{◊cider-nrepl-mvn-version◊}"}},
            :main-opts ["-m" "nrepl.cmdline" "--interactive"
                        #_"
                        Note:
                          introducing other middleware makes vim-fireplace choose
                          fipp for pprint, which doesn't play well with the delicately
                          defined classes in type-rep."
                        "--middleware" "[cider.nrepl/wrap-info,cider.nrepl/wrap-complete]"
                        ]},

           :merge-deps 
           {:main-opts ["-m" "typed.dev.merge-deps"]}
           :dev-repl 
           {:main-opts ["-m" "typed.dev.repl"]}
           :check-ca 
           {;:main-opts ["-m" "typed.dev.check-ca"]
            }
           :new-module 
           {:main-opts ["-m" "typed.dev.new-module"]}
           }}
