{% do-not-edit-edn-comment %}
{:paths ["src"]
 :deps {org.typedclojure/typed.cljc.analyzer {:local/root "../cljc.analyzer"
                                              :deps/manifest :deps}
        org.typedclojure/typed.clj.analyzer {:local/root "../clj.analyzer"
                                             :deps/manifest :deps}
        org.typedclojure/typed.fnl.reader {:local/root "../fnl.reader"
                                           :deps/manifest :deps}}
 :tasks
 {test-bb {:doc "Run Babashka tests"
           :extra-paths ["test"]
           :task bb-test-runner/run-tests}}}
