{% do-not-edit-edn-comment %}
{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "{◊clojure-mvn-version◊}"}
        org.typedclojure/typed.cljc.analyzer {:local/root "../cljc.analyzer"
                                              :deps/manifest :deps}
        org.typedclojure/typed.clj.analyzer {:local/root "../clj.analyzer"
                                             :deps/manifest :deps}
        org.typedclojure/typed.fnl.reader {:local/root "../fnl.reader"
                                           :deps/manifest :deps}}
 :aliases {:nREPL
           {:extra-deps
            {nrepl/nrepl {:mvn/version "{◊nrepl-mvn-version◊}"}
             cider/piggieback {:mvn/version "{◊piggieback-mvn-version◊}"}}
            :main-opts ["-m" "nrepl.cmdline"
                        "--interactive"]}
           :test
           {:extra-paths ["test"]
            :jvm-opts ["-Dtyped.fnl.analyzer.deps-command=../../example-projects/fennel/deps"]}
           :runner
           {:extra-deps {{◊cognitect-test-runner-coordinates◊}
                         {:git/url "{◊cognitect-test-runner-git-url◊}"
                          :git/sha "{◊cognitect-test-runner-sha◊}"}}
            :main-opts ["-m" "cognitect.test-runner"
                        "-r" ".*"
                        "-d" "test"]}}}
