{:paths ["src"],
 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"},
  org.clojure/core.cache {:mvn/version "1.0.207"},
  typed.clj/analyzer {:local/root "../clj.analyzer" :deps/manifest :deps},
  typed.clj/lang {:local/root "../clj.lang" :deps/manifest :deps},
  typed.lib/clojure {:local/root "../lib.clojure" :deps/manifest :deps},
  typed.clj/runtime {:local/root "../clj.runtime" :deps/manifest :deps},
  org.clojure/math.combinatorics {:mvn/version "0.1.6", :exclusions [org.clojure/clojure]},
  org.clojure/tools.namespace {:mvn/version "1.0.0"},
  org.clojure/tools.reader {:mvn/version "1.3.4"}},
 :mvn/repos
 {"sonatype-oss-public"
  {:url "https://oss.sonatype.org/content/groups/public/"}},
 :aliases
 {:script {:extra-paths ["script"]},
  :nREPL
  {:extra-deps
   {nrepl/nrepl {:mvn/version "0.8.3"}
    cider/cider-nrepl {:mvn/version "0.25.3"}},
   :main-opts ["-m" "nrepl.cmdline" "--interactive"
               #_"
               Note:
                 introducing other middleware makes vim-fireplace choose
                 fipp for pprint, which doesn't play well with the delicately
                 defined classes in type-rep."
               "--middleware" "[cider.nrepl/wrap-complete]"
               ]},
  :spec-skip-macros
  {:jvm-opts ["-Dclojure.spec.skip-macros=true"]}
  :test
  {:extra-paths ["test" "resources"],
   :extra-deps
   {org.clojure/test.check
    {:mvn/version "1.0.0"}
    org.clojure/tools.nrepl
    {:mvn/version "0.2.6", :exclusions [org.clojure/clojure]}
    com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.0"}}},
  :kaocha
  {:extra-deps {lambdaisland/kaocha {:git/url "https://github.com/lambdaisland/kaocha.git"
                                     ;; https://github.com/lambdaisland/kaocha/issues/208#issuecomment-822844384
                                     :sha "3d834940d420d6490a2290f809526fff07ef7775"}}}
  :codox
  {:extra-deps {codox/codox {:mvn/version "0.10.7"}}
   :extra-paths ["script"]
   :main-opts ["-m" "gen-doc"]}
  :runner
  {:extra-deps
   {io.github.cognitect-labs/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner"
     :sha "5557e92c932f024127762ec6007d849bec869c8f"}}
   :main-opts
   ["-m"
    "cognitect.test-runner"
    "-d"
    "test/clojure/core/typed/test"
    "-r"
    ".*"]}}}
