{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.analyzer {:mvn/version "1.0.0"}
        org.clojure/clojurescript {:mvn/version "1.10.764"}
        typed.cljc/analyzer {:local/root "../cljc.analyzer"
                             :deps/manifest :deps}}
 :mvn/repos
 {"sonatype-oss-public"
  {:url "https://oss.sonatype.org/content/groups/public/"}},
 :aliases {:nREPL
           {:extra-deps
            {nrepl/nrepl {:mvn/version "0.8.3"}
             cider/piggieback {:mvn/version "0.5.2"}}
            :main-opts ["-m" "nrepl.cmdline"
                        "--interactive"]}
           :test
           {:extra-paths ["test"]}
           :runner
           {:extra-deps {com.cognitect/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner"
                          :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
            :main-opts ["-m" "cognitect.test-runner"
                        "-r" ".*"
                        "-d" "test"]}}}
