{% do-not-edit-edn-comment %}
{:paths ["src"]
 :deps {metosin/malli {:mvn/version "{◊malli-mvn-version◊}"}
        io.github.frenchy64/fully-satisfies {:mvn/version "{◊fully-satisfies-mvn-version◊}"}
        {◊typedclojure-group-id◊}/typed.clj.runtime {:local/root "../clj.runtime"}}}
