{:analyzer.common "core/analyzer.common"
 :analyzer.jvm "core/analyzer.jvm"
 :analyzer.js "core/analyzer.js"
 :checker.jvm "core/checker.jvm"
 :checker.js "core/checker.js"
 :lib.clojure "lib/clojure"
 :lib.core.async "lib/core.async"}
