{% do-not-edit-edn-comment %}
{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "{◊clojure-mvn-version◊}"}
        org.clojure/clojurescript {:mvn/version "{◊clojurescript-mvn-version◊}"}
        org.clojure/tools.reader {:mvn/version "{◊tools-reader-mvn-version◊}"}
        {◊typedclojure-group-id◊}/typed.cljc.analyzer {:local/root "../cljc.analyzer"
                                              :deps/manifest :deps}}
 :mvn/repos
 {"sonatype-oss-public"
  {:url "{◊sonatype-oss-public-url◊}"}},
 :aliases {:nREPL
           {:extra-deps
            {nrepl/nrepl {:mvn/version "{◊nrepl-mvn-version◊}"}
             cider/piggieback {:mvn/version "{◊piggieback-mvn-version◊}"}}
            :main-opts ["-m" "nrepl.cmdline"
                        "--interactive"]}
           :test
           {:extra-paths ["test"]
            :extra-deps {{◊typedclojure-group-id◊}/typed.clj.analyzer {:local/root "../clj.analyzer"
                                              :deps/manifest :deps}}}
           :codox
           {:extra-deps {codox/codox {:mvn/version "{◊codox-mvn-version◊}"}}
            :extra-paths ["script"]
            :main-opts ["-m" "gen-doc"]}
           :runner
           {:extra-deps {{◊cognitect-test-runner-coordinates◊}
                         {:git/url "{◊cognitect-test-runner-git-url◊}"
                          :git/sha "{◊cognitect-test-runner-sha◊}"}}
            :main-opts ["-m" "cognitect.test-runner"
                        "-r" ".*"
                        "-d" "test"]}}}
