{% do-not-edit-edn-comment %}
{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "{◊analyzer-clojure-mvn-version◊}"}}
 :aliases {:nREPL
           {:extra-deps
            {nrepl/nrepl {:mvn/version "{◊nrepl-mvn-version◊}"}
             cider/piggieback {:mvn/version "{◊piggieback-mvn-version◊}"}}
            :main-opts ["-m" "nrepl.cmdline"
                        "--interactive"]}
           :test
           {:jvm-opts ["-Dtyped.clojure.preserve-check-ns-after-opt-in=true"]
            :extra-paths ["test"]}
           :codox
           {:extra-deps {codox/codox {:mvn/version "{◊codox-mvn-version◊}"}}
            :extra-paths ["script"]
            :main-opts ["-m" "gen-doc"]}

           :runner-cljs {:extra-deps {olical/cljs-test-runner {:mvn/version "3.7.0"}}
                         :main-opts ["-m" "cljs-test-runner.main"
                                     "-d" "test"
                                     "--out" "target/cljs-test-runner-out"]}

           :runner
           {:extra-deps {{◊cognitect-test-runner-coordinates◊}
                         {:git/url "{◊cognitect-test-runner-git-url◊}"
                          :git/sha "{◊cognitect-test-runner-sha◊}"}}
            :main-opts ["-m" "cognitect.test-runner"
                        "-r" ".*"
                        "-d" "test"]}}}
