{% do-not-edit-edn-comment %}
{:paths ["src"],
 :deps
 {org.clojure/core.cache {:mvn/version "{◊core-cache-mvn-version◊}"},
  {◊typedclojure-group-id◊}/typed.clj.analyzer {:local/root "../clj.analyzer"},
  {◊typedclojure-group-id◊}/typed.lib.clojure {:local/root "../lib.clojure"},
  {◊typedclojure-group-id◊}/typed.lib.spec.alpha {:local/root "../lib.spec.alpha"},
  {◊typedclojure-group-id◊}/typed.clj.runtime {:local/root "../clj.runtime"},
  org.clojure/math.combinatorics {:mvn/version "{◊math-combinatorics-mvn-version◊}"},
  org.clojure/tools.namespace {:mvn/version "{◊tools-namespace-mvn-version◊}"},
  org.clojure/tools.reader {:mvn/version "{◊tools-reader-mvn-version◊}"}
  com.nextjournal/beholder {:mvn/version "{◊beholder-mvn-version◊}"}
  babashka/process {:mvn/version "{◊process-mvn-version◊}"}
  io.github.frenchy64/fully-satisfies {:mvn/version "{◊fully-satisfies-mvn-version◊}"}}}
