{% do-not-edit-edn-comment %}
{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "{◊clojure-mvn-version◊}"}
        org.ow2.asm/asm {:mvn/version "{◊asm-mvn-version◊}"}
        babashka/fs {:mvn/version "{◊fs-mvn-version◊}"}
        com.github.javaparser/javaparser-core {:mvn/version "{◊javaparser-mvn-version◊}"}}
 :aliases {:test
           {:extra-paths ["test"]}
           :graal
           {:extra-deps {com.github.clj-easy/graal-build-time {:mvn/version "{◊graal-build-time-mvn-version◊}"}}}
           :nREPL
           {:extra-deps
            {nrepl/nrepl {:mvn/version "{◊nrepl-mvn-version◊}"}
             cider/cider-nrepl {:mvn/version "{◊cider-nrepl-mvn-version◊}"}},
            :main-opts ["-m" "nrepl.cmdline"
                        "--interactive"
                        "--middleware" "[\"cider.nrepl/cider-middleware\"]"]}

           :codox
           {:extra-deps {codox/codox {:mvn/version "{◊codox-mvn-version◊}"}}
            :extra-paths ["script"]
            :main-opts ["-m" "gen-doc"]}

           :runner
           {:extra-deps {{◊cognitect-test-runner-coordinates◊}
                         {:git/url "{◊cognitect-test-runner-git-url◊}"
                          :git/sha "{◊cognitect-test-runner-sha◊}"}}
            :main-opts ["-m" "cognitect.test-runner"
                        "-d" "test"
                        "-r" ".*"]}}}
