{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.typedclojure/typed.clj.runtime {:local/root "../../typed/clj.runtime"}
        org.typedclojure/typed.clj.spec {:local/root "../../typed/clj.spec"}}
 :aliases {:dev {:jvm-opts ["-Dtyped.clojure.preserve-check-ns-after-opt-in=true"]
                 :extra-paths ["test"]
                 :extra-deps {org.typedclojure/typed.clj.checker {:local/root "../../typed/clj.checker"}}}
           :test {:extra-deps {io.github.cognitect-labs/test-runner 
                               {:git/tag "v0.5.1" :git/sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           :nREPL
           {:extra-deps
            {cider/cider-nrepl {:mvn/version "0.28.2"},
             cider/piggieback {:mvn/version "0.5.3"},
             net.cgrand/parsley {:mvn/version "0.9.3"},
             nrepl/nrepl {:mvn/version "0.8.3"},
             reply/reply {:mvn/version "0.5.1"}},
            :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
            :main-opts ["-m" "nrepl.cmdline" "--interactive"]}}}
