name: Check Clojure CA

on: pull_request

jobs:
  build:
    if: (github.actor != 'frenchy64' || github.actor != 'dependabot') && github.repository == 'typedclojure/typedclojure'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
          key: ${{ runner.os }}-clojure-${{ hashFiles('dev/deps.edn') }}
          restore-keys: |
            ${{ runner.os }}-clojure-
      - name: Set up JDK 1.11
        uses: actions/setup-java@v2
        with:
          distribution: "adopt"
          java-version: 1.11
      - uses: DeLaGuardo/setup-clojure@a434c7d415d341c4eff62261c7922f0f4d554266
        with:
          cli: 1.10.3.849
      - name: Check Clojure CA
        run: ./script/check-clojure-ca.sh ${{ github.actor }}
