name: Check Clojure CA

on: pull_request

env:
  CLOJURE_CLI_VERSION: "1.11.1.1105"

jobs:
  build:
    if: (github.actor != 'frenchy64' || github.actor != 'dependabot') && github.repository == 'typedclojure/typedclojure'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
          key: ${{ runner.os }}-clojure-${{ hashFiles('dev/deps.edn') }}
          restore-keys: |
            ${{ runner.os }}-clojure-
      - name: Set up JDK 1.11
        uses: actions/setup-java@v3
        with:
          distribution: "adopt"
          java-version: 1.11
      - uses: DeLaGuardo/setup-clojure@011e21665723a3b40f716dceee29ff6dddba9350
        with:
          cli: ${{ env.CLOJURE_CLI_VERSION }} 
      - name: Check Clojure CA
        run: ./script/check-clojure-ca.sh ${{ github.actor }}
