name: Check Clojure CA

on: pull_request

jobs:
  build:
    if: (github.actor != 'frenchy64' || github.actor != 'dependabot') && github.repository == 'typedclojure/typedclojure'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
          key: ${{ runner.os }}-clojure-${{ hashFiles('dev/deps.edn') }}
          restore-keys: |
            ${{ runner.os }}-clojure-
      - name: Set up JDK 1.11
        uses: actions/setup-java@v2
        with:
          distribution: "adopt"
          java-version: 1.11
      - uses: DeLaGuardo/setup-clojure@0fe110ad5aab7de04967d0f573267f7009aa0609
        with:
          cli: 1.10.3.849
      - name: Check Clojure CA
        run: ./script/check-clojure-ca.sh ${{ github.actor }}
