name: Test and deploy

on:
  pull_request:
  push:
  schedule:
    # Every Monday and Friday at 1PM UTC (9AM EST)
    - cron: "0 13 * * 1,5"

env:
  CLOJURE_CLI_VERSION: 1.10.3.822

jobs:
  setup:
    # delegate self-pull-requests to push jobs and run cron only in main repo
    if: ${{ !(github.repository == 'typedclojure/typedclojure' && github.event_name == 'pull_request') && (github.repository == 'typedclojure/typedclojure' || github.event_name != 'schedule') }}
    runs-on: ubuntu-20.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup Babashka
        uses: turtlequeue/setup-babashka@v1.3.0
        with:
          babashka-version: 0.3.8
      - run: bb --version
      - name: Print test matrix
        id: set-matrix
        run: ./script/print-actions-matrix.clj
  test:
    # delegate self-pull-requests to push jobs and run cron only in main repo
    if: ${{ !(github.repository == 'typedclojure/typedclojure' && github.event_name == 'pull_request') && (github.repository == 'typedclojure/typedclojure' || github.event_name != 'schedule') }}
    needs: setup
    runs-on: ubuntu-20.04
    strategy:
      matrix: ${{ fromJson(needs.setup.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
          key: ${{ runner.os }}-test-deps-${{ matrix.submodule }}-${{ hashFiles('**/pom.xml') }}-${{ hashFiles('**/deps.edn') }}-${{ env.CLOJURE_CLI_VERSION }} 
          restore-keys: |
            ${{ runner.os }}-test-deps-${{ matrix.submodule }}-${{ hashFiles('**/pom.xml') }}-${{ hashFiles('**/deps.edn') }}-
            ${{ runner.os }}-test-deps-${{ matrix.submodule }}-${{ hashFiles('**/pom.xml') }}-
            ${{ runner.os }}-test-deps-${{ matrix.submodule }}-
            ${{ runner.os }}-test-deps-
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.jdk }}
      - uses: DeLaGuardo/setup-clojure@3e7b376abc1efded98dda248b5a8fb3d7ae04a04
        with:
          cli: ${{ env.CLOJURE_CLI_VERSION }} 
      - name: Run ${{ matrix.submodule }} tests
        run: ./script/test -Sdeps '{:deps {org.clojure/clojure {:mvn/version "${{ matrix.clojure }}"}} :mvn/repos {"sonatype-oss-public" {:url "https://oss.sonatype.org/content/groups/public/"}}}'
        working-directory: ${{ matrix.submodule }}
  deploy:
    needs: test
    if: github.ref == 'refs/heads/main' && github.repository == 'typedclojure/typedclojure' && github.event_name == 'push'
    runs-on: ubuntu-20.04
    env:
      DEPLOY_JDK: 11
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
          key: ${{ runner.os }}-deploy-deps-${{ matrix.submodule }}-${{ hashFiles('**/pom.xml') }}-${{ hashFiles('**/deps.edn') }}-${{ env.CLOJURE_CLI_VERSION }} 
          restore-keys: |
            ${{ runner.os }}-deploy-deps-${{ matrix.submodule }}-${{ hashFiles('**/pom.xml') }}-${{ hashFiles('**/deps.edn') }}-
            ${{ runner.os }}-deploy-deps-${{ matrix.submodule }}-${{ hashFiles('**/pom.xml') }}-
            ${{ runner.os }}-deploy-deps-${{ matrix.submodule }}-
            ${{ runner.os }}-deploy-deps-
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      - name: Set up JDK ${{ env.DEPLOY_JDK }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ env.DEPLOY_JDK }}
      - uses: DeLaGuardo/setup-clojure@3e7b376abc1efded98dda248b5a8fb3d7ae04a04
        with:
          cli: ${{ env.CLOJURE_CLI_VERSION }}
      - name: Configure settings.xml
        run: |
          mkdir -p ~/.m2
          echo "<settings><servers><server><id>clojars</id><username>typedclojure-clojars</username><password>${{ secrets.ClojarsPassword }}</password></server></servers></settings>" > ~/.m2/settings.xml

      - name: Deploy
        run: ./script/deploy-actions.sh 
        env:
          AWS_BUCKET: ${{ secrets.AWS_BUCKET }}
