name: Test and deploy

on:
  pull_request:
  push:
  schedule:
    # Every Monday and Friday at 1PM UTC (9AM EST)
    - cron: "0 13 * * 1,5"

env:
  CLOJURE_CLI_VERSION: "1.10.3.1020"
  BABASHKA_VERSION: "0.6.4"

jobs:
  setup:
    # delegate self-pull-requests to push jobs and run cron only in main repo
    if: ${{ !((github.repository == 'typedclojure/typedclojure' ||
               github.repository_owner == 'frenchy64')
              && github.event_name == 'pull_request')
            &&
            (github.repository == 'typedclojure/typedclojure' ||
             github.event_name != 'schedule')
         }}
    runs-on: ubuntu-20.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v3
      - uses: turtlequeue/setup-babashka@5e0acf2cf146558d93a573e339e1d24f2758adfd
        with:
          babashka-version: ${{env.BABASHKA_VERSION}}
      - run: bb --version
      - run: ./script-test/test_runner.clj
      - name: Print test matrix
        id: set-matrix
        run: ./script/print-actions-matrix.clj
  test:
    # delegate self-pull-requests to push jobs and run cron only in main repo
    if: ${{ !((github.repository == 'typedclojure/typedclojure' ||
               github.repository_owner == 'frenchy64')
              && github.event_name == 'pull_request')
            &&
            (github.repository == 'typedclojure/typedclojure' ||
             github.event_name != 'schedule')
         }}
    needs: setup
    runs-on: ubuntu-20.04
    strategy:
      matrix: ${{ fromJson(needs.setup.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
          key: ${{ runner.os }}-test-deps-${{ matrix.submodule }}-${{ hashFiles('**/pom.xml') }}-${{ hashFiles('**/deps.edn') }}-${{ env.CLOJURE_CLI_VERSION }} 
          restore-keys: |
            ${{ runner.os }}-test-deps-${{ matrix.submodule }}-${{ hashFiles('**/pom.xml') }}-${{ hashFiles('**/deps.edn') }}-
            ${{ runner.os }}-test-deps-${{ matrix.submodule }}-${{ hashFiles('**/pom.xml') }}-
            ${{ runner.os }}-test-deps-${{ matrix.submodule }}-
            ${{ runner.os }}-test-deps-
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.jdk }}
      - uses: DeLaGuardo/setup-clojure@a434c7d415d341c4eff62261c7922f0f4d554266
        with:
          cli: ${{ env.CLOJURE_CLI_VERSION }} 
      - name: Run ${{ matrix.submodule }} tests
        run: ./script/test -Sdeps '{:deps {org.clojure/clojure {:mvn/version "${{ matrix.clojure }}"}} :mvn/repos {"sonatype-oss-public" {:url "https://oss.sonatype.org/content/groups/public/"}}}'
        working-directory: ${{ matrix.submodule }}
  check-docs:
    runs-on: ubuntu-20.04
    if: ${{ github.repository == 'typedclojure/typedclojure'
            && github.event_name == 'schedule'
         }}
    steps:
      - uses: actions/checkout@v3
      - uses: turtlequeue/setup-babashka@5e0acf2cf146558d93a573e339e1d24f2758adfd
        with:
          babashka-version: ${{env.BABASHKA_VERSION}}
      - run: bb --version
      - run: ./script-test/test_runner.clj
      - run: ./script/check_docs.clj
  deploy:
    needs: test
    if: ${{ github.ref == 'refs/heads/main'
            && github.repository == 'typedclojure/typedclojure'
            && github.event_name == 'push'
         }}
    runs-on: ubuntu-20.04
    env:
      DEPLOY_JDK: 11
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
          key: ${{ runner.os }}-deploy-deps-${{ matrix.submodule }}-${{ hashFiles('**/pom.xml') }}-${{ hashFiles('**/deps.edn') }}-${{ env.CLOJURE_CLI_VERSION }} 
          restore-keys: |
            ${{ runner.os }}-deploy-deps-${{ matrix.submodule }}-${{ hashFiles('**/pom.xml') }}-${{ hashFiles('**/deps.edn') }}-
            ${{ runner.os }}-deploy-deps-${{ matrix.submodule }}-${{ hashFiles('**/pom.xml') }}-
            ${{ runner.os }}-deploy-deps-${{ matrix.submodule }}-
            ${{ runner.os }}-deploy-deps-
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      - name: Set up JDK ${{ env.DEPLOY_JDK }}
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ env.DEPLOY_JDK }}
      - uses: DeLaGuardo/setup-clojure@a434c7d415d341c4eff62261c7922f0f4d554266
        with:
          cli: ${{ env.CLOJURE_CLI_VERSION }}
      - uses: turtlequeue/setup-babashka@5e0acf2cf146558d93a573e339e1d24f2758adfd
        with:
          babashka-version: ${{env.BABASHKA_VERSION}}
      - run: bb --version
      - name: Configure settings.xml
        run: |
          mkdir -p ~/.m2
          echo "<settings><servers><server><id>clojars</id><username>typedclojure-clojars</username><password>${{ secrets.ClojarsPassword }}</password></server></servers></settings>" > ~/.m2/settings.xml

      - name: Deploy
        run: ./script/deploy-actions.sh 
        env:
          AWS_BUCKET: ${{ secrets.AWS_BUCKET }}
      - run: rm -f ~/.m2/settings.xml
        if: always()
